@page "/"
@inject HttpClient client

<h1>Data</h1>

@if (InfoList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in InfoList)
            {
                <tr>
                    <td>@i.CommentId</td>
                    <td>@i.CommentUrl</td>
                    <td>@i.id</td>
                    <td>@i.Sentiment</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {

Info[] InfoList;
string jsonText;
string visibleJson;
bool cardView = true;

protected override async Task OnInitAsync()
{
    try
    {
        InfoList = await client.GetJsonAsync<Info[]>($"http://localhost:7071/api/GetData");

    }
    catch (Exception ex)
    {
        //RegisteredFunction.Invoke<bool>("consoleLog", ex);
    }
}

protected void ShowHideJson()
{
    visibleJson = String.IsNullOrWhiteSpace(visibleJson) ? jsonText : String.Empty;
}

protected void SwitchView()
{
    cardView = !cardView;
}


}


