@page
@model FN18.Web.Pages.SubmitModel
@{
    ViewData["Title"] = "Submit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Open a support case</h2>

<form method="post">
    <input type="text" name="description">
    <input type="submit">
</form>

