@using Blazor.FileReader
@using System;
@using System.Globalization;
@using System.IO;
@using System.Net.Http



@page "/submit"
@inject HttpClient httpClient
@inject IFileReaderService fileReaderService;

<h1>Cognitive Services Vision</h1>

<input type="file" id="fileUpload" ref="fileUpload" onchange="@UploadFile" />

<p>Select an image</p>


@functions {

    ElementRef fileUpload;
    string blobUrl = string.Empty;

    async Task UploadFile()
    {

        blobUrl = await httpClient.GetStringAsync("/api/Submissions/GetBlobSaS");
        var uri = $"https://mjsdemofrontaue.blob.core.windows.net/uploads/{Guid.NewGuid()}.png{blobUrl}";

        var files = await fileReaderService.CreateReference(fileUpload).EnumerateFilesAsync();

        using (MemoryStream memoryStream = await files.First().CreateMemoryStreamAsync())
        {
            byte[] bytes = memoryStream.ToArray();

            int contentLength = bytes.Length;
            string now = DateTime.Now.ToString("R", CultureInfo.InvariantCulture);

            var request = new HttpRequestMessage(HttpMethod.Put, uri);

            request.Content = new ByteArrayContent(bytes);
            request.Content.Headers.ContentLength = contentLength;

            request.Headers.Add("x-ms-version", "2018-03-28");
            request.Headers.Add("x-ms-date", now);
            request.Headers.Add("x-ms-blob-type", "BlockBlob");

            var req = await httpClient.SendAsync(request);

        }
    }
}
