<div class="row">
    @foreach (var imageInfo in InfoList)
    {
        <div class="col-sm-6 pb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@imageInfo.CommentId</h4>
                    <p class="card-text">@imageInfo.Text</p>
                </div>
            </div>
        </div>
    }
</div>

@functions {

[Parameter]
Info[] InfoList { get; set; }
}
